In [2]:
import pyspark
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()

In [3]:
df = spark.read.csv("Absenteeism_at_work.csv", header=True, inferSchema=True)

In [4]:
type(df)

pyspark.sql.dataframe.DataFrame

In [22]:
df.show(5)
# https://www.nbshare.io/notebook/187478734/How-To-Read-CSV-File-Using-Python-PySpark/

+---+------------------+----------------+---------------+-------+----------------------+-------------------------------+------------+---+----------------------+----------+--------------------+-----------+--------+--------------+-------------+---+------+------+---------------+-------------------------+
| ID|Reason for absence|Month of absence|Day of the week|Seasons|Transportation expense|Distance from Residence to Work|Service time|Age|Work load Average/day |Hit target|Disciplinary failure|  Education|Children|Social drinker|Social smoker|Pet|Weight|Height|Body mass index|Absenteeism time in hours|
+---+------------------+----------------+---------------+-------+----------------------+-------------------------------+------------+---+----------------------+----------+--------------------+-----------+--------+--------------+-------------+---+------+------+---------------+-------------------------+
| 11|              XXVI|             JUL|           TUES| Summer|                   289|                             36|          13| 33|               239.554|        97|               false|High School|       2|          true|        false|  1|    90|   172|             30|                        4|
| 36|                 0|             JUL|           TUES| Summer|                   118|                             13|          18| 50|               239.554|        97|                true|High School|       1|          true|        false|  0|    98|   178|             31|                        0|
|  3|             XXIII|             JUL|            WED| Summer|                   179|                             51|          18| 38|               239.554|        97|               false|High School|       0|          true|        false|  0|    89|   170|             31|                        2|
|  7|               VII|             JUL|          THURS| Summer|                   279|                              5|          14| 39|               239.554|        97|               false|High School|       2|          true|         true|  0|    68|   168|             24|                        4|
| 11|             XXIII|             JUL|          THURS| Summer|                   289|                             36|          13| 33|               239.554|        97|               false|High School|       2|          true|        false|  1|    90|   172|             30|                        2|
+---+------------------+----------------+---------------+-------+----------------------+-------------------------------+------------+---+----------------------+----------+--------------------+-----------+--------+--------------+-------------+---+------+------+---------------+-------------------------+
only showing top 5 rows

In [23]:
df.printSchema()

root
 |-- ID: integer (nullable = true)
 |-- Reason for absence: string (nullable = true)
 |-- Month of absence: string (nullable = true)
 |-- Day of the week: string (nullable = true)
 |-- Seasons: string (nullable = true)
 |-- Transportation expense: integer (nullable = true)
 |-- Distance from Residence to Work: integer (nullable = true)
 |-- Service time: integer (nullable = true)
 |-- Age: integer (nullable = true)
 |-- Work load Average/day : double (nullable = true)
 |-- Hit target: integer (nullable = true)
 |-- Disciplinary failure: boolean (nullable = true)
 |-- Education: string (nullable = true)
 |-- Children: integer (nullable = true)
 |-- Social drinker: boolean (nullable = true)
 |-- Social smoker: boolean (nullable = true)
 |-- Pet: integer (nullable = true)
 |-- Weight: integer (nullable = true)
 |-- Height: integer (nullable = true)
 |-- Body mass index: integer (nullable = true)
 |-- Absenteeism time in hours: integer (nullable = true)

In [26]:
df.columns

['ID',
 'Reason for absence',
 'Month of absence',
 'Day of the week',
 'Seasons',
 'Transportation expense',
 'Distance from Residence to Work',
 'Service time',
 'Age',
 'Work load Average/day ',
 'Hit target',
 'Disciplinary failure',
 'Education',
 'Children',
 'Social drinker',
 'Social smoker',
 'Pet',
 'Weight',
 'Height',
 'Body mass index',
 'Absenteeism time in hours']

In [30]:
df.toPandas()

,ID,Reason for absence,Month of absence,Day of the week,Seasons,Transportation expense,Distance from Residence to Work,Service time,Age,Work load Average/day,...,Disciplinary failure,Education,Children,Social drinker,Social smoker,Pet,Weight,Height,Body mass index,Absenteeism time in hours
0,11,XXVI,JUL,TUES,Summer,289,36,13,33,239.554,...,False,High School,2,True,False,1,90,172,30,4
1,36,0,JUL,TUES,Summer,118,13,18,50,239.554,...,True,High School,1,True,False,0,98,178,31,0
2,3,XXIII,JUL,WED,Summer,179,51,18,38,239.554,...,False,High School,0,True,False,0,89,170,31,2
3,7,VII,JUL,THURS,Summer,279,5,14,39,239.554,...,False,High School,2,True,True,0,68,168,24,4
4,11,XXIII,JUL,THURS,Summer,289,36,13,33,239.554,...,False,High School,2,True,False,1,90,172,30,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
735,11,XIV,JUL,TUES,Summer,289,36,13,33,264.604,...,False,High School,2,True,False,1,90,172,30,8
736,1,XI,JUL,TUES,Summer,235,11,14,37,264.604,...,False,Postgrad,1,False,False,1,88,172,29,4
737,4,0,0,TUES,Summer,118,14,13,40,271.219,...,False,High School,1,True,False,8,98,170,34,0
738,8,0,0,WED,Autumn,231,35,14,39,271.219,...,False,High School,2,True,False,2,100,170,35,0
739,35,0,0,FRI,Winter,179,45,14,53,271.219,...,False,High School,1,False,False,1,77,175,25,0

In [25]:
from pyspark.sql.functions import col

dataset = df.select(col('Transportation expense'), col('Distance from Residence to Work'), col('Service time'),
                   col('Work load Average/day '), col('Disciplinary failure'), col('Education')
                    )
                                                    
dataset.show(5)
# https://towardsdatascience.com/your-first-apache-spark-ml-model-d2bb82b599dd

+----------------------+-------------------------------+------------+----------------------+--------------------+-----------+
|Transportation expense|Distance from Residence to Work|Service time|Work load Average/day |Disciplinary failure|  Education|
+----------------------+-------------------------------+------------+----------------------+--------------------+-----------+
|                   289|                             36|          13|               239.554|               false|High School|
|                   118|                             13|          18|               239.554|                true|High School|
|                   179|                             51|          18|               239.554|               false|High School|
|                   279|                              5|          14|               239.554|               false|High School|
|                   289|                             36|          13|               239.554|               false|High School|
+----------------------+-------------------------------+------------+----------------------+--------------------+-----------+
only showing top 5 rows

In [26]:
from pyspark.ml.feature import StringIndexer

dataset = StringIndexer(inputCol='Education', outputCol='Qualification Level', handleInvalid='keep').fit(dataset).transform(dataset)

dataset.show(20)

# Can't use for Boolean

+----------------------+-------------------------------+------------+----------------------+--------------------+-----------+-------------------+
|Transportation expense|Distance from Residence to Work|Service time|Work load Average/day |Disciplinary failure|  Education|Qualification Level|
+----------------------+-------------------------------+------------+----------------------+--------------------+-----------+-------------------+
|                   289|                             36|          13|               239.554|               false|High School|                0.0|
|                   118|                             13|          18|               239.554|                true|High School|                0.0|
|                   179|                             51|          18|               239.554|               false|High School|                0.0|
|                   279|                              5|          14|               239.554|               false|High School|                0.0|
|                   289|                             36|          13|               239.554|               false|High School|                0.0|
|                   179|                             51|          18|               239.554|               false|High School|                0.0|
|                   361|                             52|           3|               239.554|               false|High School|                0.0|
|                   260|                             50|          11|               239.554|               false|High School|                0.0|
|                   155|                             12|          14|               239.554|               false|High School|                0.0|
|                   235|                             11|          14|               239.554|               false|   Postgrad|                1.0|
|                   260|                             50|          11|               239.554|               false|High School|                0.0|
|                   260|                             50|          11|               239.554|               false|High School|                0.0|
|                   260|                             50|          11|               239.554|               false|High School|                0.0|
|                   179|                             51|          18|               239.554|               false|High School|                0.0|
|                   179|                             51|          18|               239.554|               false|High School|                0.0|
|                   246|                             25|          16|               239.554|               false|High School|                0.0|
|                   179|                             51|          18|               239.554|               false|High School|                0.0|
|                   179|                             51|          18|               239.554|               false|High School|                0.0|
|                   189|                             29|          13|               239.554|               false|High School|                0.0|
|                   248|                             25|          14|               205.917|               false|High School|                0.0|
+----------------------+-------------------------------+------------+----------------------+--------------------+-----------+-------------------+
only showing top 20 rows

In [27]:
dataset = dataset.drop('Education')
dataset = dataset.drop('Disciplinary failure')
dataset = dataset.drop('Qualification')
dataset.show()

+----------------------+-------------------------------+------------+----------------------+-------------------+
|Transportation expense|Distance from Residence to Work|Service time|Work load Average/day |Qualification Level|
+----------------------+-------------------------------+------------+----------------------+-------------------+
|                   289|                             36|          13|               239.554|                0.0|
|                   118|                             13|          18|               239.554|                0.0|
|                   179|                             51|          18|               239.554|                0.0|
|                   279|                              5|          14|               239.554|                0.0|
|                   289|                             36|          13|               239.554|                0.0|
|                   179|                             51|          18|               239.554|                0.0|
|                   361|                             52|           3|               239.554|                0.0|
|                   260|                             50|          11|               239.554|                0.0|
|                   155|                             12|          14|               239.554|                0.0|
|                   235|                             11|          14|               239.554|                1.0|
|                   260|                             50|          11|               239.554|                0.0|
|                   260|                             50|          11|               239.554|                0.0|
|                   260|                             50|          11|               239.554|                0.0|
|                   179|                             51|          18|               239.554|                0.0|
|                   179|                             51|          18|               239.554|                0.0|
|                   246|                             25|          16|               239.554|                0.0|
|                   179|                             51|          18|               239.554|                0.0|
|                   179|                             51|          18|               239.554|                0.0|
|                   189|                             29|          13|               239.554|                0.0|
|                   248|                             25|          14|               205.917|                0.0|
+----------------------+-------------------------------+------------+----------------------+-------------------+
only showing top 20 rows

In [11]:
df_stats = df.describe().show(n=20, truncate=False)

+-------+------------------+------------------+----------------+---------------+-------+----------------------+-------------------------------+------------------+-----------------+----------------------+-----------------+---------+------------------+------------------+------------------+------------------+------------------+-------------------------+
|summary|ID                |Reason for absence|Month of absence|Day of the week|Seasons|Transportation expense|Distance from Residence to Work|Service time      |Age              |Work load Average/day |Hit target       |Education|Children          |Pet               |Weight            |Height            |Body mass index   |Absenteeism time in hours|
+-------+------------------+------------------+----------------+---------------+-------+----------------------+-------------------------------+------------------+-----------------+----------------------+-----------------+---------+------------------+------------------+------------------+------------------+------------------+-------------------------+
|count  |740               |740               |740             |740            |740    |740                   |740                            |740               |740              |740                   |740              |740      |740               |740               |740               |740               |740               |740                      |
|mean   |18.017567567567568|0.0               |0.0             |null           |null   |221.32972972972973    |29.63108108108108              |12.554054054054054|36.45            |271.49023513513544    |94.58783783783784|null     |1.018918918918919 |0.745945945945946 |79.03513513513514 |172.11486486486487|26.677027027027027|6.924324324324324        |
|stddev |11.021247263063657|0.0               |0.0             |null           |null   |66.95222324531973     |14.836788436739143             |4.384873407621148 |6.478772457611868|39.058116188144055    |3.779313134418015|null     |1.0984890195302817|1.3182582913258336|12.883210507177214|6.034994530267662 |4.285452223167274 |13.330998100978196       |
|min    |1                 |0                 |0               |FRI            |Autumn |118                   |5                              |1                 |27               |205.917               |81               |Doctorate|0                 |0                 |56                |163               |19                |0                        |
|max    |36                |XXVIII            |SEP             |WED            |Winter |388                   |52                             |29                |58               |378.884               |100              |Postgrad |4                 |8                 |108               |196               |38                |120                      |
+-------+------------------+------------------+----------------+---------------+-------+----------------------+-------------------------------+------------------+-----------------+----------------------+-----------------+---------+------------------+------------------+------------------+------------------+------------------+-------------------------+

In [1]:
# https://www.datasciencemadesimple.com/frequency-table-or-cross-table-in-pyspark-2-way-cross-table/
cat_df.crosstab('Reason for Absence', 'Social drinker').show(28)

NameError: name 'cat_df' is not defined

In [13]:
from pyspark.mllib.tree import DecisionTree
# Labeled Point Yes/No What am I trying to predict? pg.365 Jeffrey Aven book - Disciplined? 
# https://spark.apache.org/docs/3.1.1/api/python/reference/pyspark.ml.html#classification

In [21]:
from pyspark.ml.linalg import DenseMatrix, Vectors
from pyspark.ml.stat import Correlation
from pyspark.ml.feature import VectorAssembler
df.stat.corr("Work load Average/day ", "Absenteeism time in hours")

0.024748899704094208

In [32]:
# https://stackoverflow.com/questions/51831874/how-to-get-correlation-matrix-values-pyspark
assembler = VectorAssembler(inputCols=dataset.columns, outputCol="features", handleInvalid='keep')
dataframe = assembler.transform(dataset).select("features")
dataframe.show()

# IllegalArgumentException: Data type string of column Reason for absence is not supported.
# Data type string of column Month of absence is not supported.
# Data type string of column Day of the week is not supported.
# Data type string of column Seasons is not supported.
# Data type string of column Education is not supported.

+--------------------+
|            features|
+--------------------+
|[289.0,36.0,13.0,...|
|[118.0,13.0,18.0,...|
|[179.0,51.0,18.0,...|
|[279.0,5.0,14.0,2...|
|[289.0,36.0,13.0,...|
|[179.0,51.0,18.0,...|
|[361.0,52.0,3.0,2...|
|[260.0,50.0,11.0,...|
|[155.0,12.0,14.0,...|
|[235.0,11.0,14.0,...|
|[260.0,50.0,11.0,...|
|[260.0,50.0,11.0,...|
|[260.0,50.0,11.0,...|
|[179.0,51.0,18.0,...|
|[179.0,51.0,18.0,...|
|[246.0,25.0,16.0,...|
|[179.0,51.0,18.0,...|
|[179.0,51.0,18.0,...|
|[189.0,29.0,13.0,...|
|[248.0,25.0,14.0,...|
+--------------------+
only showing top 20 rows

In [38]:
correlation = Correlation.corr(dataframe,"features","pearson").collect()[0][0]

DenseMatrix([[ 1.00000000e+00,  2.62183111e-01, -3.49887036e-01,
               5.43806459e-03,  2.67537997e-02],
             [ 2.62183111e-01,  1.00000000e+00,  1.31730304e-01,
              -6.86769583e-02, -2.27475529e-01],
             [-3.49887036e-01,  1.31730304e-01,  1.00000000e+00,
              -6.68491033e-04, -2.27192662e-01],
             [ 5.43806459e-03, -6.86769583e-02, -6.68491033e-04,
               1.00000000e+00, -4.53296368e-02],
             [ 2.67537997e-02, -2.27475529e-01, -2.27192662e-01,
              -4.53296368e-02,  1.00000000e+00]])

In [46]:
rows = correlation.toArray().tolist()
print(str(rows))
correlationdf = spark.createDataFrame(rows, dataset.columns)
print(str(correlationdf))

[[1.0, 0.2621831106319073, -0.3498870361913601, 0.0054380645902345455, 0.02675379970541189], [0.2621831106319073, 1.0, 0.13173030369957126, -0.06867695829634854, -0.22747552850788208], [-0.3498870361913601, 0.13173030369957126, 1.0, -0.0006684910327938819, -0.22719266168427438], [0.0054380645902345455, -0.06867695829634854, -0.0006684910327938819, 1.0, -0.04532963677669844], [0.02675379970541189, -0.22747552850788208, -0.22719266168427438, -0.04532963677669844, 1.0]]
DataFrame[Transportation expense: double, Distance from Residence to Work: double, Service time: double, Work load Average/day : double, Qualification Level: double]

In [51]:
# https://medium.com/analytics-vidhya/clustering-on-mixed-data-types-in-python-7c22b3898086

# Normalise / Scale continuous data 
import pandas as pd
from sklearn import preprocessing
absence_norm = dataset
scaler = preprocessing.MinMaxScaler()
absence_norm[["Work load Average/day ", "Transportation expense"]] = scaler.fit_transform(absence_norm[["Work load Average/day ", "Transportation expense"]])

ValueError: setting an array element with a sequence.

In [ ]:
from kmodes.kprototypes import KPrototypes
kproto = KPrototypes(n_clusters=3, init='Cao')
clusters = kproto.fit_predict(df, categorical=[]) # Give categorical 

# KMeans with One Hot Encoding 
# Join data with labels 
labels = pd.DataFrame(clusters)
labeledCustomers = pd.concat((customers,labels),axis=1)
labeledCustomers = labeledCustomers.rename({0:'labels'},axis=1)

In [ ]:
# Visualise clusters with PCA
# https://www.data4v.com/tutorial-k-means-clustering-on-spark/
pca = PCA(k=2, inputCol='scaledFeatures', outputCol='PCAFeatures')
model = pca.fit(scaled_features)
result = model.transform(scaled_features).select('PCAFeatures')
result.show(740, truncate=False)

In [ ]:
# Simple Classification Model 
# https://spark.apache.org/docs/2.1.0/ml-classification-regression.html#random-forest-classifier
# https://towardsdatascience.com/a-guide-to-exploit-random-forest-classifier-in-pyspark-46d6999cb5db
# Cast Boolean social drinker to numeric
model_df = new_df.select(col('Social drinker').cast('float'), 
                        col('Reason Encode'),
                        col('Absenteeism time in hours'),
                        col('Season Encode'),
                        col('Education Encode'),
                        col('Day_Encode')
                        )
model_df.show()